---
import Layout from '../layouts/Centered.astro';
import FixelartDemo from '../solid/FixelartDemo.tsx';
---
<Layout title="Fixelart demo">
  <h2>Fixelart Demo</h2>
  <p>Paste a pixelart image with artifacts</p>
<FixelartDemo client:only />
  
</Layout>
