<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title turbo-cms-tag="page_title">Template page</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white dark:bg-gray-900 astro-6MYTB7CN">
    <main class="space-y-40 mb-40">
      <div class="relative" id="home">
        <div
          aria-hidden="true"
          class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
        >
          <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
          >
          </div>
          <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
          >
          </div>
        </div>
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
          <div class="relative pt-12 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
              <h1
                turbo-cms-tag="main_header"
                class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
              >
                Shaping a world with reimagination.
              </h1>
              <p
                turbo-cms-tag="main_description"
                class="mt-8 text-gray-700 dark:text-gray-300"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                incidunt nam itaque sed eius modi error totam sit illum.
                Voluptas doloribus asperiores quaerat aperiam. Quidem harum
                omnis beatae ipsum soluta!
              </p>
              <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                <a turbo-cms-tag="primary_cta_link" href="#">
                  <button
                    turbo-cms-tag="primary_cta_text"
                    class="relative text-base font-semibold text-white bg-slate-800 rounded no-underline"
                    >Get started</button
                  >
                </a>
                <a href="#" turbo-cms-tag="secondary_cta_link">
                  <button
                    turbo-cms-tag="secondary_cta_text"
                    class="relative text-base font-semibold text-primary dark:text-white"
                    >Learn more</button
                  >
                </a>
              </div>
              <div
                class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
              >
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_1_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The lowest price
                  </h6>
                  <p turbo-cms-tag="info_1_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_2_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The fastest on the market
                  </h6>
                  <p turbo-cms-tag="info_2_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_3_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The most loved
                  </h6>
                  <p turbo-cms-tag="info_3_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-gray-600 dark:text-gray-300" id="reviews">
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
          <div class="mb-20 space-y-4 px-6 md:px-0">
            <h2
              turbo-cms-tag="review_title"
              class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
            >
              We have some fans.
            </h2>
          </div><div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="400"
                  height="400"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_1_name"
                  >
                    Daniella Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_1_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_1_desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                aliquid quo eum quae quos illo earum ipsa doloribus nostrum
                minus libero aspernatur laborum cum, a suscipit, ratione ea
                totam ullam! Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Architecto laboriosam deleniti aperiam ab veniam sint non
                cumque quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_2_name"
                  >
                    Jane doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_2_position"
                  >
                    Marketing
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_2_desc">
                Lorem ipsum dolor laboriosam deleniti aperiam ab veniam sint non
                cumque quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_3_name"
                  >
                    Yanick Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_3_position"
                  >
                    Developer
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_3_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_4_name"
                  >
                    Jane Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_4_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_4_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_5_name"
                  >
                    Andy Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_5_position"
                  >
                    Manager
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_5_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="400"
                  height="400"
                  loading="lazy"
                />
                <div>
                  <h6
                    turbo-cms-tag="review_6_name"
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                  >
                    Yanndy Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_6_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_6_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative" id="home">
        <div
          aria-hidden="true"
          class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
        >
          <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
          >
          </div>
          <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
          >
          </div>
        </div>
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
          <div class="relative pt-12 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
              <h1
                turbo-cms-tag="main_header"
                class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
              >
                Shaping a world with reimagination.
              </h1>
              <p
                turbo-cms-tag="main_description"
                class="mt-8 text-gray-700 dark:text-gray-300"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                incidunt nam itaque sed eius modi error totam sit illum.
                Voluptas doloribus asperiores quaerat aperiam. Quidem harum
                omnis beatae ipsum soluta!
              </p>
              <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                <a turbo-cms-tag="primary_cta_link" href="#">
                  <button
                    turbo-cms-tag="primary_cta_text"
                    class="relative text-base font-semibold text-white bg-slate-800 rounded no-underline"
                    >Get started</button
                  >
                </a>
                <a href="#" turbo-cms-tag="secondary_cta_link">
                  <button
                    turbo-cms-tag="secondary_cta_text"
                    class="relative text-base font-semibold text-primary dark:text-white"
                    >Learn more</button
                  >
                </a>
              </div>
              <div
                class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
              >
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_1_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The lowest price
                  </h6>
                  <p turbo-cms-tag="info_1_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_2_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The fastest on the market
                  </h6>
                  <p turbo-cms-tag="info_2_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_3_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The most loved
                  </h6>
                  <p turbo-cms-tag="info_3_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-gray-600 dark:text-gray-300" id="reviews">
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
          <div class="mb-20 space-y-4 px-6 md:px-0">
            <h2
              turbo-cms-tag="review_title"
              class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
            >
              We have some fans.
            </h2>
          </div><div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="400"
                  height="400"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_1_name"
                  >
                    Daniella Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_1_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_1_desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                aliquid quo eum quae quos illo earum ipsa doloribus nostrum
                minus libero aspernatur laborum cum, a suscipit, ratione ea
                totam ullam! Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Architecto laboriosam deleniti aperiam ab veniam sint non
                cumque quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_2_name"
                  >
                    Jane doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_2_position"
                  >
                    Marketing
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_2_desc">
                Lorem ipsum dolor laboriosam deleniti aperiam ab veniam sint non
                cumque quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_3_name"
                  >
                    Yanick Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_3_position"
                  >
                    Developer
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_3_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_4_name"
                  >
                    Jane Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_4_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_4_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_5_name"
                  >
                    Andy Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_5_position"
                  >
                    Manager
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_5_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="400"
                  height="400"
                  loading="lazy"
                />
                <div>
                  <h6
                    turbo-cms-tag="review_6_name"
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                  >
                    Yanndy Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_6_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_6_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="relative" id="home">
        <div
          aria-hidden="true"
          class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
        >
          <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
          >
          </div>
          <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
          >
          </div>
        </div>
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
          <div class="relative pt-12 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
              <h1
                turbo-cms-tag="main_header"
                class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
              >
                Shaping a world with reimagination.
              </h1>
              <p
                turbo-cms-tag="main_description"
                class="mt-8 text-gray-700 dark:text-gray-300"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                incidunt nam itaque sed eius modi error totam sit illum.
                Voluptas doloribus asperiores quaerat aperiam. Quidem harum
                omnis beatae ipsum soluta!
              </p>
              <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                <a turbo-cms-tag="primary_cta_link" href="#">
                  <button
                    turbo-cms-tag="primary_cta_text"
                    class="relative text-base font-semibold text-white bg-slate-800 rounded no-underline"
                    >Get started</button
                  >
                </a>
                <a href="#" turbo-cms-tag="secondary_cta_link">
                  <button
                    turbo-cms-tag="secondary_cta_text"
                    class="relative text-base font-semibold text-primary dark:text-white"
                    >Learn more</button
                  >
                </a>
              </div>
              <div
                class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
              >
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_1_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The lowest price
                  </h6>
                  <p turbo-cms-tag="info_1_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_2_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The fastest on the market
                  </h6>
                  <p turbo-cms-tag="info_2_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_3_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The most loved
                  </h6>
                  <p turbo-cms-tag="info_3_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-gray-600 dark:text-gray-300" id="reviews">
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
          <div class="mb-20 space-y-4 px-6 md:px-0">
            <h2
              turbo-cms-tag="review_title"
              class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
            >
              We have some fans.
            </h2>
          </div><div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="400"
                  height="400"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_1_name"
                  >
                    Daniella Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_1_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_1_desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                aliquid quo eum quae quos illo earum ipsa doloribus nostrum
                minus libero aspernatur laborum cum, a suscipit, ratione ea
                totam ullam! Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Architecto laboriosam deleniti aperiam ab veniam sint non
                cumque quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_2_name"
                  >
                    Jane doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_2_position"
                  >
                    Marketing
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_2_desc">
                Lorem ipsum dolor laboriosam deleniti aperiam ab veniam sint non
                cumque quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_3_name"
                  >
                    Yanick Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_3_position"
                  >
                    Developer
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_3_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_4_name"
                  >
                    Jane Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_4_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_4_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_5_name"
                  >
                    Andy Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_5_position"
                  >
                    Manager
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_5_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="400"
                  height="400"
                  loading="lazy"
                />
                <div>
                  <h6
                    turbo-cms-tag="review_6_name"
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                  >
                    Yanndy Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_6_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_6_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative" id="home">
        <div
          aria-hidden="true"
          class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
        >
          <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
          >
          </div>
          <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
          >
          </div>
        </div>
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
          <div class="relative pt-12 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
              <h1
                turbo-cms-tag="main_header"
                class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
              >
                Shaping a world with reimagination.
              </h1>
              <p
                turbo-cms-tag="main_description"
                class="mt-8 text-gray-700 dark:text-gray-300"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                incidunt nam itaque sed eius modi error totam sit illum.
                Voluptas doloribus asperiores quaerat aperiam. Quidem harum
                omnis beatae ipsum soluta!
              </p>
              <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                <a turbo-cms-tag="primary_cta_link" href="#">
                  <button
                    turbo-cms-tag="primary_cta_text"
                    class="relative text-base font-semibold text-white bg-slate-800 rounded no-underline"
                    >Get started</button
                  >
                </a>
                <a href="#" turbo-cms-tag="secondary_cta_link">
                  <button
                    turbo-cms-tag="secondary_cta_text"
                    class="relative text-base font-semibold text-primary dark:text-white"
                    >Learn more</button
                  >
                </a>
              </div>
              <div
                class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
              >
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_1_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The lowest price
                  </h6>
                  <p turbo-cms-tag="info_1_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_2_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The fastest on the market
                  </h6>
                  <p turbo-cms-tag="info_2_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
                <div class="text-left">
                  <h6
                    turbo-cms-tag="info_3_text"
                    class="text-lg font-semibold text-gray-700 dark:text-white mb-0"
                  >
                    The most loved
                  </h6>
                  <p turbo-cms-tag="info_3_desc" class="mt-2 text-gray-500">
                    Some text here
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-gray-600 dark:text-gray-300" id="reviews">
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
          <div class="mb-20 space-y-4 px-6 md:px-0">
            <h2
              turbo-cms-tag="review_title"
              class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
            >
              We have some fans.
            </h2>
          </div><div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="400"
                  height="400"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_1_name"
                  >
                    Daniella Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_1_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_1_desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                aliquid quo eum quae quos illo earum ipsa doloribus nostrum
                minus libero aspernatur laborum cum, a suscipit, ratione ea
                totam ullam! Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Architecto laboriosam deleniti aperiam ab veniam sint non
                cumque quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_2_name"
                  >
                    Jane doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_2_position"
                  >
                    Marketing
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_2_desc">
                Lorem ipsum dolor laboriosam deleniti aperiam ab veniam sint non
                cumque quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_3_name"
                  >
                    Yanick Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_3_position"
                  >
                    Developer
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_3_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_4_name"
                  >
                    Jane Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_4_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_4_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="200"
                  height="200"
                  loading="lazy"
                />
                <div>
                  <h6
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                    turbo-cms-tag="review_5_name"
                  >
                    Andy Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_5_position"
                  >
                    Manager
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_5_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
            <div
              class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
            >
              <div class="flex gap-4">
                <img
                  class="w-12 h-12 rounded-full"
                  src="./soyjack.webp"
                  alt="user avatar"
                  width="400"
                  height="400"
                  loading="lazy"
                />
                <div>
                  <h6
                    turbo-cms-tag="review_6_name"
                    class="text-lg font-medium text-gray-700 dark:text-white m-0"
                  >
                    Yanndy Doe
                  </h6>
                  <p
                    class="text-sm text-gray-500 dark:text-gray-300"
                    turbo-cms-tag="review_6_position"
                  >
                    Mobile dev
                  </p>
                </div>
              </div>
              <p class="mt-8" turbo-cms-tag="review_6_desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Architecto laboriosam deleniti aperiam ab veniam sint non cumque
                quis tempore cupiditate. Sint libero voluptas veniam at
                reprehenderit, veritatis harum et rerum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
<style>
  html {
    font-family: Urbanist, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }
  #toggle_nav:checked ~ div #hamburger #line {
    @apply rotate-45 translate-y-1.5;
  }

  #toggle_nav:checked ~ div #hamburger #line2 {
    @apply -rotate-45 -translate-y-1;
  }
</style>
