@import "../../variables.scss";

.languageIcon {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(238, 141, 76), yellow, violet);
  transform: rotate(45deg);

  &__HTML {
    background: $github-html;
  }
  &__CSS {
    background: $github-css;
  }
  &__SASS {
    background: $github-sass;
  }
  &__Typescript {
    background: $github-typescript;
  }
  &__Javascript {
    background: $github-javascript;
  }
  &__Node {
    background: $github-node;
  }
  &__Express {
    background: $github-express;
  }
  &__React {
    background: $github-react;
  }
}
