.githubfont {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 1.2rem;
  line-height: 1.5;
}

.grabbing {
  cursor: grabbing !important;
}

.repobox {
  padding: 16px;
  border: 1px solid --light-gray;
  width: 40rem;
  height: 10rem;
  border-radius: 0.3rem;
  position: relative;
}

.repobox__dragger {
  cursor: grab;
}

.repobox__description {
  margin-top: 0.8rem;
  color: --gray;
}

.repobox__language {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: --gray;
}

.repobox__language__text {
  padding-left: 4px;
}

.repobox__icon {
  padding-right: 0.7rem;
  margin-top: 0.1rem;
  fill: --gray;
}

.repobox__title {
  color: --github-blue;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.repobox__title__wrapper {
  display: flex;
  justify-content: space-between;
}

.repobox__title__wrapper__link {
  text-decoration: none;
}

.repobox__title__wrapper__link:hover {
  color: --github-blue;
  text-decoration: underline;
}