@import '../../variables.scss';

.black {
  color: $black
}

.light-gray {
  color: $light-gray;
}

.gray {
  color: $gray;
}

.dark-gray {
  color: $dark-gray;
}

.white {
  color: $white;
}

.red {
  color: $red;
}